USE [master]
GO
/****** Object:  Database [Permissions]    Script Date: 05/28/2014 15:22:41 ******/
CREATE DATABASE [Permissions] ON  PRIMARY 
( NAME = N'Permissions', FILENAME = N'C:\Program Files\Microsoft SQL Server\First\MSSQL10_50.FIRST\MSSQL\DATA\Permissions.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Permissions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\First\MSSQL10_50.FIRST\MSSQL\DATA\Permissions_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Permissions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Permissions]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 05/28/2014 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Permissions](
	[UserID] [int] NOT NULL,
	[GrantedPermission] [varchar](255) NOT NULL,
	[DBObjectName] [varchar](255) NOT NULL,
 CONSTRAINT [pk_Permissions] PRIMARY KEY CLUSTERED 
(
	[DBObjectName] ASC,
	[GrantedPermission] ASC,
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Permissions] ([UserID], [GrantedPermission], [DBObjectName]) VALUES (1, N'DELETE', N'Cars')
INSERT [dbo].[Permissions] ([UserID], [GrantedPermission], [DBObjectName]) VALUES (2, N'DELETE', N'Cars')
INSERT [dbo].[Permissions] ([UserID], [GrantedPermission], [DBObjectName]) VALUES (3, N'DELETE', N'Cars')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
