<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLServerConnection" connectionString="data source=.\sqlexpress;initial catalog=UserGroupDB;integrated security=True" providerName="System.Data.SqlClient" />
    <add name="SQLiteConnection" connectionString="Data Source=|DataDirectory|UserGroupDB.db" providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>